.field-error {
  margin-bottom: 8px; 
  margin-top: 8px;
  height: 12px;
  font-size: 12px;
  padding-left: 8px;
}

.clickable {
  cursor: pointer;
}

.big-text-table td {
  font-size: 16px !important;
}